
#top  ul li a:hover {
    color: burlywood;
}

#top .container header {
    visibility: hidden;
}

#top .container h1 {
    font-size: 50px;
    color: antiquewhite;
}

#header {
    background-color: #312350;
}