#top  ul {
    visibility: hidden;
    list-style: none;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 30px;
}


#top  ul li {
    padding: 10px;
    margin-right: 20px;
}

#top  ul li a:hover {
    color: burlywood;
}

#top .container header {
    visibility: hidden;
}

#top .container h1 {
    font-size: 50px;
    color: antiquewhite;
}